{% if admin.isGranted('LIST', object) and admin.hasRoute('list') and object.children.count %}
    {% set persistentParameters = admin.getPersistentParameters() %}
    {% set routeParams = persistentParameters|merge({ parent: object.id }) %}
    <a href="{{ admin.generateUrl('list', routeParams) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_fields'|trans }}">
        <i class="glyphicon glyphicon-tasks"></i>
        {{ 'action_fields'|trans }}
    </a>
{% endif %}