{% if(admin.root.child('core_attribute.admin.form_submission') is defined) %}
    {% set formSubmissionAdmin = admin.root.child('core_attribute.admin.form_submission') %}
    {% if formSubmissionAdmin.isGranted('LIST', object) and formSubmissionAdmin.hasRoute('list') and object.parent is null%}
        <a href="{{ formSubmissionAdmin.generateObjectUrl('list', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_form_submissions'|trans }}">
            <i class="glyphicon glyphicon-list"></i>
            {{ 'action_form_submissions'|trans }}
        </a>
    {% endif %}
{% endif %}