{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show_field %}

    {% if elements[field_name] is defined and field_name == "collection" %}
        {% for attribute in attribute(object, field_name)|flatten_collection_attribute %}
            <tr class="sonata-ba-view-container">
                <th>{{ attribute.label }}</th>
                <td>
                    {% include attribute.template with {'value': attribute.value} %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
